#!/system/bin/sh
scripts=$(realpath $0)
scripts_dir=$(dirname ${scripts})
parent_dir=$(dirname ${scripts_dir})
# Environment variable settings
export PATH="/data/adb/ap/bin:/data/adb/ksu/bin:/data/adb/magisk:$PATH"
yq=${parent_dir}/binary/yq

log() {
  export TZ=Asia/Shanghai
  now=$(date +"[%Y-%m-%d %H:%M:%S]")
  case $1 in
  Info)
    [ -t 1 ] && echo -e "\033[1;32m${now} [Info]: $2\033[0m" || echo "${now} [Info]: $2"
    ;;
  Warn)
    [ -t 1 ] && echo -e "\033[1;33m${now} [Warn]: $2\033[0m" || echo "${now} [Warn]: $2"
    ;;
  Error)
    [ -t 1 ] && echo -e "\033[1;31m${now} [Error]: $2\033[0m" || echo "${now} [Error]: $2"
    ;;
  *)
    [ -t 1 ] && echo -e "\033[1;30m${now} [$1]: $2\033[0m" || echo "${now} [$1]: $2"
    ;;
  esac
}

airport() {
  local air_name="rtjc"
  local url="https://rega.eu.org/new/subscribe/feef16ee8bec3d07c8fd133485980de2?flag=sing-box?types=all"
  local dir="${parent_dir}/confs"
  local file="${dir}/${air_name}.json"
  local tmp_file="${dir}/${air_name}.json.tmp"
  local log_file="${parent_dir}/log/run.log"
  local json_expr=$(find "$dir" -maxdepth 1 -type f -name "*.json" ! -name "${air_name}.json" -printf "%f\n")

  if [[ -z "$url" ]]; then
    log Warn "URL is empty, skipping download" >> "$log_file"
    return 0
  fi

  if find "${dir}" "${json_expr[*]}" | grep -q .; then
    [ -f "${dir}/packed.tar.gz" ] && rm -f "${dir}/packed.tar.gz"
    find "${dir}" -maxdepth 1 -type f -name "*.json" ! -name "${air_name}.json" -exec tar -czf "${dir}/packed.tar.gz" --transform="s|.*/||" {} +
    find "${dir}" -maxdepth 1 -type f -name "*.json" ! -name "${air_name}.json" -exec rm -f {} +
  fi

  curl -fsSL -o "$tmp_file" "$url" || {
    log Error "Failed to download airport list" >> "$log_file"
    rm -f "$tmp_file"
    return 1
  }

# 格式化新下载的 tmp 文件
$yq -p=json -o=json '.' "$tmp_file" > "${tmp_file}.pretty" && mv "${tmp_file}.pretty" "$tmp_file"

if [[ -f "$file" ]]; then
  if [ "$($yq -p=json -o=json '.' "$file")" = "$($yq -p=json -o=json '.' "$tmp_file")" ]; then
    log Info "Airport file unchanged, no update needed" >> "$log_file"
    rm -f "$tmp_file"
    return 0
  else
    log Info "Airport file changed, updating..." >> "$log_file"
    mv "$tmp_file" "$file"
    return 0
  fi
else 
  mv "$tmp_file" "$file"
  log Info "Airport file saved" >> "$log_file"
fi
}
